include _mixins/chunkMixins

doctype html
html
  head
    title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body#body
    div#container When you click me I should change to something
    div#container-2 When you click me I should change to something else

    +chunks(htmlWebpackPlugin.files.chunks)